{% extends "base.html.twig" %}

{% block title %}Új felhasználó{% endblock %}

{% block body %}
    <h2 class="display-2 text-light my-5">Új felhasználó</h2>
    <div class="bg-light p-5 border border-dark mx-auto" style="max-width: 800px">
        {{ form_start(form) }}
            {{ form_help(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success">Küldés</button>
        {{ form_end(form) }}
        <div class="my-3">
            <a href="{{ path('users')}}" class="btn btn-primary">Vissza</a>
        </div>
    </div>
{% endblock %}